<div class="data-card">
<mat-card>
  <mat-card-content class="p-5">
    <form action="" [formGroup]="dataForm" class="flex flex-column justify-content-center gap-3 sm:gap-8 sm:flex sm:flex-row"  >

        <mat-form-field appearance="outline" class=" sm:w-3" >
            <mat-label>District</mat-label>
            <mat-select formControlName="disData" (selectionChange)="onChangeDistrict()"  >
              <mat-option *ngFor="let district of getDistrict" [value]="district.disId">
                {{district.disName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline"  class=" sm:w-3">
            <mat-label>Division</mat-label>
            <mat-select formControlName="divisionData"  (selectionChange)="onChangeDivision()">
              <mat-option *ngFor="let division of getDivision" [value]="division.divId">
               {{division.divName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="sm:w-3">
            <mat-label>Subdivision</mat-label>
            <mat-select formControlName="subDivisionData">
              <mat-option *ngFor="let subdivision of getSubDivision" [value]="subdivision.sudId" >
               {{subdivision.sudName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </form>

      <div class="flex justify-content-center mt-5 " >
        <button mat-raised-button class="searchBtn" style="background: #ee7f00; border-radius: 5px;
                                                          color:white; font-size: 20px; padding: 10px 25px;"
                                                           (click)="view()">Search</button>
      </div>

      <div class="icons-cont flex gap-3 pt-6">

        <div class="excel-img" style="cursor: pointer;"><img src="../assets/excel.png"></div>
        <div class="pdf-img"style="cursor: pointer;"><img src="../assets/pdf.png"></div>
      </div>

       <div class="filter-cont pt-5">
        <mat-form-field class="example-full-width">
          <mat-label>Filter</mat-label>
          <input type="text" matInput
                 placeholder="Search by complained id " >
          </mat-form-field>

       </div>



      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef> Sr No. </th>
          <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef> Region </th>
          <td mat-cell *matCellDef="let element"> {{element.region} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="circle">
          <th mat-header-cell *matHeaderCellDef> Circle </th>
          <td mat-cell *matCellDef="let element"> {{element.circle}} </td>
        </ng-container> -->

        <!-- Symbol Column -->
        <ng-container matColumnDef="disName">
          <th mat-header-cell *matHeaderCellDef> District Name </th>
          <td mat-cell *matCellDef="let element"> {{element.potDistrict}} </td>
        </ng-container>

        <ng-container matColumnDef="potDivision">
          <th mat-header-cell *matHeaderCellDef> Division</th>
          <td mat-cell *matCellDef="let element"> {{element.potDivision}} </td>
        </ng-container>

        <ng-container matColumnDef="sudName">
          <th mat-header-cell *matHeaderCellDef> SubDivision </th>
          <td mat-cell *matCellDef="let element"> {{element.potSubDivision}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total Pothole Report Count </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <ng-container matColumnDef="assign">
          <th mat-header-cell *matHeaderCellDef> Assign Pothole Count </th>
          <td mat-cell *matCellDef="let element"> {{element.assign}} </td>
        </ng-container>

        <ng-container matColumnDef="close">
          <th mat-header-cell *matHeaderCellDef> Close Pothole Count </th>
          <td mat-cell *matCellDef="let element"> {{element.close}} </td>
        </ng-container>

        <ng-container matColumnDef="pending">
          <th mat-header-cell *matHeaderCellDef>Pending to Close Pothole </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-card-content>
</mat-card>

</div>











