.data-card{
  height: 100%;
  width: 96%;
  margin: 1em auto;
}


table{
  // margin-top: 20px;
  width: 100%;

}
// .example-container.mat-elevation-z8 {
//   overflow-x: scroll;
// }
// .example-container .mat-table.mat-table {
//   min-width: 450px;
//   overflow-x: scroll;
// }

.example-full-width {
  width: 100%;
}
