<div class=" disData p-8 sm:p-20 shadow-lg shadow-gray-500/50">
<div  class="  flex  flex-col justify-center gap-5 sm:gap-12 sm:flex sm:flex-row">

   <form action="" [formGroup]="dataForm">
  <mat-form-field appearance="outline" >
      <mat-label>District</mat-label>
      <mat-select formControlName="disData" (selectionChange)="onChangeDistrict($event.value)" >
        <mat-option *ngFor="let district of getDistrict" [value]="district.disId">
          {{district.disName}}


        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Division</mat-label>
      <mat-select formControlName="divisionData"  (selectionChange)="onChangeDivision($event.value)">
        <mat-option *ngFor="let division of getDivision" [value]="division.divId">
         {{division.divName}}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Subdivision</mat-label>
      <mat-select formControlName="subDivisionData">
        <mat-option *ngFor="let subdivision of getSubDivision" [value]="subdivision">
         {{subdivision.sudName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </form>
</div>
<div class="flex justify-center">
  <button mat-raised-button color="primary" class="p-80"  (click)="view()">Search</button>
</div>

</div>


