.data-card{
  height: 100%;
  width: 95%;
  margin: 1em auto;
}


table{
  margin-top: 20px;
}
.example-container.mat-elevation-z8 {
  overflow:scroll;
}
.example-container .mat-table.mat-table {
  min-width: 450px;
}

.example-full-width {
  width: 100%;
}
